body {
    background-color: black;
    margin: 0;
}

.navbar{
    display:flex;
    justify-content: right;
    padding: 16px;
    background-color: grey;
}

.icon-buttons svg {
    margin-right: 8px; 
    width: 30px;
}

.icon-buttons button {
    background: none; /* Remove default button styling */
    border: none;
}

.icon-buttons button:hover {
    background-color: #f0f0f0; /* Light gray background */
}

h3 {
    margin: auto;
    width: 0%;
}


.icon-buttons svg {
    margin-top: 6px;
    width: 30px;
}
  